<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body id="portfoliobody">
	<h1 id="portfolioh">Portfolio</h1>

	<a href="/blog" id="bloglink">Blog</a>
	<br>

	<h2 id="projects">Projects</h2>

	<div id="jukebox">
		<i class="fa fa-music fa-4x" id="jukeboxicon"></i>
		<p class="description">Jukebox is an Object-Oriented music player which uses Spotify's API through ajax. The user can select to play one of the four pre-loaded songs in the playist or search a song preview and add it to the playlist. All searched songs are stored in the playlist for future uses. The user has the ability to pause, stop, and play the next track in the list. Simple and functional, Jukebox is ready to play your music!</p>
		<a href="https://github.com/kimlalman28/Jukebox" id="jukeboxlink">Check out Jukebox!</a>
	</div>

	<div id="bulletinboard">
		
	</div>

	<div id="Java">
		
	</div>




	<div id="socialmedia">
		<h5>Follow me @:</h5>
		<a href="https://www.facebook.com/soramiharu28" class="slink"><i class="fa fa-facebook-official fa-3x" ></i></a>
		<a href="https://twitter.com/sora_miharu" class="slink"><i class="fa fa-twitter-square fa-3x"></i></a>
		<a href="https://www.linkedin.com/in/kimberly-lalmansingh-9a8073124?trk=nav_responsive_tab_profile_pic" class="slink"><i class="fa fa-linkedin-square fa-3x"></i></a>
		<a href="https://github.com/kimlalman28" class="slink"><i class="fa fa-github-square fa-3x"></i></a>
	</div>
	
</body>
</html>