<!DOCTYPE html>
<html>
<head>
	<title>Portfolio</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body id="portfoliobody">
	<h1>Portfolio</h1>

	<a href="/blog">Blog</a>
	
</body>
</html>