#blogbody{
	background-image: url(http://wallpapercave.com/wp/FjnZ25X.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
	

}

h1{
	font-size: 60px;
	font-family: "Brush Script MT", cursive;
	text-align: center;
	color: white;
	text-shadow: 6px 6px 10px blue;
}

form{
	text-align: center;
}

#title{
	color: white;
	background-color: lightblue;
	font-size: 25px;
	font-family: "Brush Script MT", cursive;
}

#body{
	color: white;
	background-color: lightblue;
	font-size: 25px;
	font-family: "Brush Script MT", cursive;
}

#submit{
	color: white;
	background-color: lightblue;
	font-size: 20px;
	font-family: "Brush Script MT", cursive;
}


#portlink{
	text-decoration: none;
	float: right;
	font-size: 25px;
	font-family: "Brush Script MT", cursive;
	color: white;
	text-shadow: 10px 10px 12px blue;
	 
}

#portlink:hover{
	background-color: lightblue;
}

h3{
	font-size: 30px;
	font-family: garamond;
	text-align: center;
	color: white;
	font-family: 'brush script mt', cursive;
	text-shadow: 3px 3px 10px blue;
}

p{
	text-align: center;
	color: white;
	font-size: 20px;
	font-family: "brush script mt", cursive;
}

#blogpost{
	background-color: steelblue;
	margin: 20px auto;
	border-style: double;
	width: 80%;
}